
body
{
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background: url(images/creamparch3.jpg) repeat;
	margin: 0px;
}

.heading
{
	color: #680114;
	font-weight: bold;
	letter-spacing: 0.3px;
}
.price_heading
{
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 0.3px;
}
.text
{
	color: #680114;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.2px;
}

.price_text
{
	color: #680114;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 0.3px;
	padding-right: 8px;
	padding-left: 5px;
}

.open
{
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
}
.bottomtext
{
	color: #680114;
	font-size: 16px;
	font-weight: bold;
}
.bottomtextold
{
	color: #680114;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10%;
	padding-right: 10%;
}
a
{
	color: #e1b52f;
}
a:hover
{
	color: red;
}

.adLogo
{
	color: White;
	font-size: 24px;
	padding: 5px 0 3px 0;
	display: block;
	font-family: Verdana;
}
.adLogoemail
{
	color: White;
	font-size: 14px;
	padding: 5px 0 3px 0;
	display: block;
	font-family: Verdana;
}
.adLogo a
{
	color:Blue;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana;
}

.adLogo a:hover
{
	text-decoration: none;
	color: #7ca800;
	font-weight: bold;
}
